doctype html
html
	head
		title= title
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
	body
		ul.menu
			li
				a.active(href='/delta') Cклад Дельты
			li
				a(href='#news') News
			li
				a(href='#contact') Contact
			li
				a(href='#about') About
