doctype htmlhtml
	head
		title= 'Delta SKLAD11'
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
		style
			include style.css
		script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js")
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
	body
		ul.menu1
			li.menu2
				a.active(href='/delta') Cклад Дельты
			li.menu2
				a(href='/delta/prices') Мониторинг Цен
			li.menu2
				a(href='#contact') Contact
			li.menu2
				a(href='#about') About
